.homebar {
    height: 5em;
    background-color: #EDF6D8;
    transform:translateY(0px)
}

.navbar {
    height: 5em;
    background-color: #EDF6D8;
}

.logo {
    height: 12em;
    margin-left: calc(50% - 50vw);
    transform:translateY(-34em);
}

.footlogo {
    height: 6em;
    margin-left: calc(50% - 50vw);
}

.Banner {
    width: 100vw;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    transform:translateY(0px)
}

.registerform {
    width: 50em;
    border-radius: 45px;
    color: white;
    background-color: #B1EBC4;
}

.regbtn {
    text-align: center;
    border-radius: 90px;
    background-color: #C1F2D3;
}

.loginform {
    width: 50em;
    border-radius: 45px;
    color: white;
    background-color: #B1EBC4;
}

.loginbtn {
    text-align: center;
    border-radius: 90px;
    background-color: #C1F2D3;
}

.mainbody {
    background-color: #7CB29C;
    color: white;
}

.policybar {
    background-color: #D7C24C;
    color: white;
    font-size: 1em;
    height: 2em;
}

.userprofilepic {
    width: 2em;
}