{% extends 'website/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <br>
    <div class="registerform container p-5 my-4">
        <h3 class="formtitle">Rolsa Technologies Registration</h3>
        <hr>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="regbtn">Create Account</button>
        </form>
        <br>
        <div>
            <p>Already have an account? Login</p> <a href="{% url 'login' %}">here</a>
        </div>
    </div>

</div>
{% include "components/footer.html" %}

{% endblock %}